.account-layout{
   
    .request-list{

        h2{
            font-weight: 700;
            margin-bottom: 2rem;
        }
       
        &__wrapper{
            padding: 10px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        &__info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__details{
            font-size:1.4rem;
            color: #7c8791;
        }

        &__info-title{
            font-weight: 700;
        }

        &__info-status{
            padding: 10px 15px;

            &--success{
                background: #19f200;
                color: white;
                font-weight: 700;

            }

            &--cancelled{
                background: rgb(255, 157, 0);
                color:white;
                font-weight: 700;

            }

            &--sold{
                background: rgb(255, 0, 0);
                color: white;
                font-weight: 700;
            }
        }
    }


}